.granit-editor-container {
    background-color: #f2f3f4;
    border-radius: 5px;
}

.granit-editor:focus {
    outline: none;
}

.granit-editor-highlight .string {
    color: #78C365;
}

.granit-editor-unsaved-indicator {
    background: #4BA7DB;
}
