.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 45px;
}

.btn-primary {
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 1px;
    margin: 5px;
    height: 35px;
    width: 100px;
    background-color: #007fff;
    border: none;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.74);
    box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.75);
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1489ff;
}

.btn-primary:active {
    outline: none;
}

.btn-primary:focus {
    outline: none;
}

.description {
    margin: 8px 0;
    color: #a7afb5;
    font-family: "PT Sans", sans-serif;
}

.contact {
    color: #007fff;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    margin-right: 10px;
}

.card {
    margin: 0 auto 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.74);
    box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.75);
}

.card-title {
    margin-left: 30px;
    margin-right: 30px;
    font-family: "PT Sans", sans-serif;
}

.card-image img {
    max-width: 100%;
}

.card-desc {
    margin-left: 30px;
    margin-right: 30px;
    font-family: "PT Sans", sans-serif;
}

.card-link {
    margin-left: 30px;
    margin-right: 30px;
    text-align: right;
}

.card-link a {
    color: #007fff;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
}

.content-small {
    width: 500px;
    margin: auto;
}

.demo-title {
    font-family: "PT Sans", sans-serif;
    text-align: center;
}

.homepage-title {
    color: #a7afb5;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.footer {
    padding-bottom: 10px;
    text-align: center;
}
