.btn-primary {
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 1px;
    margin-right: 10px;
    height: 35px;
    width: 100px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    color: #007fff;
    border: 2px solid #007fff;
}

.btn-primary:active {
    outline: none;
}

.btn-primary:focus {
    outline: none;
}

.description {
    margin: 8px 0;
    color: #a7afb5;
    font-family: "PT Sans", sans-serif;
}

.link {
    color: #007fff;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    margin-top: 10px;
    margin-right: 10px;
}

.content-small {
    width: 500px;
    margin: auto;
}

.content-big {
    width: 750px;
    margin: auto;
}

.title {
    font-family: "PT Sans", sans-serif;
}

.small-title {
    color: #a7afb5;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    margin: 0 0 10px 0;
}
